<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-left">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li><a class="nav-link" routerLink="">Profile</a></li>
      <li><a class="nav-link" routerLink="">Blog</a></li>
      <li><a class="nav-link" routerLink="">Login</a></li>
      <li><a class="nav-link" routerLink="">Logout</a></li>
      <li><a class="nav-link" routerLink="">Register</a></li>
    </ul>
  </div>
</nav>